@font-face {
	font-family: 'Kawashiro';
	src: url(font/KawashiroGothic.ttf);
}

@font-face {
	font-family: 'Kamishirasawa';
	src: url(font/KamishirasawaSans.ttf);
}

html {
	margin: 0;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Crimson Pro';
}

.header-container {
	background-color: #5cd0d0;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: fixed;
	z-index: 9; */
}

.header-container a {
	text-decoration: none;
	color: white;
}

.header-leftBarContainer {
	/* background-color: brown; */
	display: flex;
	align-items: center;
}

.header-leftBarContainer button {
	height: fit-content;
}

.header-logoContainer {
	font-family: 'Times New Roman', Times, serif;
	margin: 0.7em 2vw 0.7em 8vw;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: 0.4em;
}

.header-logoContainer img {
	/* background-color: greenyellow; */
	margin-right: 0.5vw;
	width: 60px;
	display: flex;
	align-items: center;
}

.header-logoAbydos {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
}

.sourceBtn {
	background: #5cd0d0;
	border-radius: 50%;
	padding: 0.5em;
}

.sourceBtn img {
	width: 1.5em;
}

.header-rightBarContainer {
	font-family: 'Red Hat Display';
	font-weight: 600;
	margin: auto 8vw auto 0;
	display: flex;
	gap: 4vw;
}

/* Layer 1 Style */
/* Layer 1 Style */
/* Layer 1 Style */
.layer1 {
	background: url(img/BG_Abydos_Collection.png);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.layer1-container {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	border-radius: 0.5em;
	width: 80%;
	color: white;
	margin: 2em auto;
	padding: 2em;
	display: flex;
}

.layer1-leftContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.layer1-leftContainerTitle {
	font-family: 'Kawashiro';
	font-size: 2.2em;
	margin: 0.8em auto;
	text-align: center;
	text-shadow: 0 0 0.8em rgb(255, 255, 255);
}

.layer1-leftContainerDescription {
	text-align: center;
	font-size: 1.1em;
}

.layer1-leftContainerButton {
	background: rgba(34, 179, 211, 0.5);
	padding: 0.9em;
	margin: 1.2em;
	border: 2px white solid;
	border-radius: 2em;
	font-family: 'Kawashiro';
	text-align: center;
}

.layer1-leftContainerButton a {
	text-decoration: none;
	color: white;
}

.layer1-rightContainer {
	margin: 0 auto 0 auto;
	/* overflow: hidden; */
}

.layer1-rightContainer img {
	width: 360px;
}

/* Layer 2 Style */
/* Layer 2 Style */
/* Layer 2 Style */
.layer2 {
	background: linear-gradient(#55c4c4, #5ad2ca);
	/* background-attachment: scroll; */
	font-family: 'Kamishirasawa', sans-serif;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
}

.layer2-container {
	margin: 5vh auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}

.layer2-title {
	font-size: 1.5em;
}

.layer2-thingsContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.layer2-thing {
	margin: auto 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thingImage {
	width: 10em;
	height: 10em;
	border: 0.2em solid brown;
	border-radius: 0.8em;
	object-fit: scale-down;
}

/* Layer 3 Style */
/* Layer 3 Style */
/* Layer 3 Style */
.layer3 {
	/* height: 1000px; */
	background: url(img/After_Biking_Shiroko-resized.png);
	background-size: cover;
	/* background-attachment: fixed; */
}

.layer3-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.layer3-quoteContainer {
	width: 80vw;
	height: 100vh;
	color: white;
	font-size: 2.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.layer3-quoteFrom {
	margin-top: 4vh;
	font-size: 0.5em;
}

/* Layer 4 Style */
/* Layer 4 Style */
/* Layer 4 Style */

.layer4 {
	background: linear-gradient(#6ca8da, #84c4ee);
	/* background-attachment: scroll; */
	font-family: 'Red Hat Display';
	display: flex;
	justify-content: center;
	align-items: center;
}

.layer4-container {
	width: 80vw;
	margin: 4vh auto;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border: 2px solid black;
	border-radius: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.layer4-linkContainer {
	margin: 0 0.4em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layer4-link {
	background: linear-gradient(#10616b, #103435);
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 6px 24px;
	border: 2px solid white;
	border-radius: 0.5em;
}

/* Footer Style */
/* Footer Style */
/* Footer Style */

.footer-container {
	background: linear-gradient(#58c4c6, #89d9da);
	padding-top: 2vh;
	padding-bottom: 2vh;
	display: flex;
	justify-content: center;
}

.footer-textContainer a {
	text-decoration: none;
}
